@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 4%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 40%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 46%;
    --accent: 0 0% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 0% 0%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 0%;
    --radius: 0.625rem;
    --chart-1: 0 0% 0%;
    --chart-2: 0 0% 30%;
    --chart-3: 0 0% 50%;
    --chart-4: 0 0% 70%;
    --chart-5: 0 0% 90%;
  }

  .dark:root {
    --background: 0 0% 4%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 60%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 0% 60%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 0% 100%;
    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 0 0% 100%;
    --radius: 0.625rem;
    --chart-1: 0 0% 100%;
    --chart-2: 0 0% 80%;
    --chart-3: 0 0% 60%;
    --chart-4: 0 0% 40%;
    --chart-5: 0 0% 20%;
  }
}
