@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #0A0A0A;
    --primary: #FF0000;
    --primary-foreground: #FFFFFF;
    --muted: #F5F5F5;
    --muted-foreground: #757575;
  }

  .dark:root {
    --background: #0A0A0A;
    --foreground: #FFFFFF;
    --primary: #FF0000;
    --primary-foreground: #FFFFFF;
    --muted: #292929;
    --muted-foreground: #A6A6A6;
  }
}
